#Summary:-

##List
##Access Element in List
##Reverse List
##List is Mutable
##List Methods
max(), ASCII value, min(), append(), pop(), sort(), reverse()

##List:-
###List is a Container, where you can store information
###Its a collection of some items, it can be integer or float.

In [ ]:
A = [1,2,3,4,5]
A[0]

1

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True]   #List can contain any Data Type
A[5]

'Dipanjan'

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

for element in A:
  print(element)

1
2
3
4
5.6
Dipanjan
(1+2j)
True

###Access Element in this way also

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

for i in range(len(A)):
  print(A[i])

1
2
3
4
5.6
Dipanjan
(1+2j)
True

###Access Elements in List

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A[3: ]  #Starting from 3rd index to Last index

[4, 5.6, 'Dipanjan', (1+2j), True]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A[0::2]  #Jumping 2 Steps and taking these Jump as an Output

[1, 3, 5.6, (1+2j)]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

for i in range(0, 8, 2):
  print(i, A[i])

0 1
2 3
4 5.6
6 (1+2j)

###Reverse List

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A[ : : -1]

[True, (1+2j), 'Dipanjan', 5.6, 4, 3, 2, 1]

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 
for i in range(0, len(A), 2):
  print(i, A[i])

0 1
2 3
4 5.6
6 (1+2j)

###If there will be No Steps:-

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 
for i in range(0, len(A)):
  print(i, A[i])

0 1
1 2
2 3
3 4
4 5.6
5 Dipanjan
6 (1+2j)
7 True

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A[1::2]

[2, 4, 'Dipanjan', True]

#List is Mutable:-
###Update or Replace any index in List:-
###In List - Replace is Possible
###Mutable operation is allowed in List (Changing is allowed in List)

###[Where ==> String is immutable. (means which is not Changable)]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A[4] = 369  #Replace any index in List

A

[1, 2, 3, 4, 369, 'Dipanjan', (1+2j), True]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A[-2] = "iNeuron"

A

[1, 2, 3, 4, 5.6, 'Dipanjan', 'iNeuron', True]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

B = [70, 90.22]

A + B   #It extend the List

[1, 2, 3, 4, 5.6, 'Dipanjan', (1+2j), True, 70, 90.22]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

B = [70, 90.22]

A - B   #Not Support

TypeError: ignored

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A * 2   #Repeat twise

[1,
 2,
 3,
 4,
 5.6,
 'Dipanjan',
 (1+2j),
 True,
 1,
 2,
 3,
 4,
 5.6,
 'Dipanjan',
 (1+2j),
 True]

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A/2   #Not Supported

TypeError: ignored

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

A + A

[1,
 2,
 3,
 4,
 5.6,
 'Dipanjan',
 (1+2j),
 True,
 1,
 2,
 3,
 4,
 5.6,
 'Dipanjan',
 (1+2j),
 True]

##List Methods:-

In [ ]:
A = [1,2,3,4,5.6, "Dipanjan", 1+2j, True] 

len(A)

8

###max()  => Find Maximum Value from given List

In [ ]:
P = [1, 45, 212, 99]

max(P)

212

##According  - ASCII value of A to Z

http://sticksandstones.kstrom.com/appen.html

In [ ]:
S = ["a", "b", "c", "d", "e", "f", "F"]

max(S)

'f'

###min() => Find Minimum Value from given List

In [2]:
B = [1, 45, 212, 99]

min(B)

1

#List Methods:-
##Append Method:- Add in End
###append()

In [8]:
A = [1,2,66]

A.append("new_element")

A

[1, 2, 66, 'new_element']

In [9]:
A = [1,2,66]

A.append("new_element", "Mela")  #append takes only one argument at a time

A

TypeError: ignored

In [10]:
A = [1,2,66]

A.append(["new_element", "Mela"])  #append takes 2 arguments in a List

A

[1, 2, 66, ['new_element', 'Mela']]

##pop() Method:- Remove End Element

In [12]:
A = [6,4,5,7,"Dipanjan"]

A.pop()

A

[6, 4, 5, 7]

###Remove Specific index value

In [13]:
A = [6,4,5,7,"Dipanjan"]

A.pop(2)  #Removed 2nd index => 5

A

[6, 4, 7, 'Dipanjan']

###sort() Method:- Sort Orders => Accending Orders

In [20]:
A = [5,56,23,14,78,54]

A.sort()  #Permanent Change. You don't have to assign in any value

A

[5, 14, 23, 54, 56, 78]

In [16]:
A = [5,56,23,14,78,54]

sorted(A)  #Same Output

[5, 14, 23, 54, 56, 78]

###For Reverse (Decending Order)

In [21]:
A = [5,56,23,14,78,54]

A[::-1]

[54, 78, 14, 23, 56, 5]

In [23]:
A = [5,56,23,14,78,54]

A.sort(reverse=True)

A

[78, 56, 54, 23, 14, 5]

###Direct Reverse Method
###reverse()

In [25]:
A = [5, 14, 23, 54, 56, 78]

A.reverse()

A

[78, 56, 54, 23, 14, 5]